.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  margin-top: 75px;
}

h1, h2, h3, h4 {
  font-family: "Helvetica Neue";
  font-weight: 300;
}

.comment {
  padding: 10px;
  background-color: white;
  box-shadow: 0 0 5px #bbb;
  margin-bottom: 10px;
}

.comment span {
  color: #444;
  font-family: "Times New Roman"
}

.error {
  background-color: rgba(255, 0, 0, 0.9);
  width: 100%;
  /*border: 1px solid white;*/
  box-shadow: 0px 2px 3px #777;
  padding: 10px;
  border-radius: 10px;
  color: white;
}

.header {
  height: 50px;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: green;
  margin-bottom: 50px;
}

.header a {
  display: inline-block;
}

.logo {
  float: left;
  display: inline-block;
  height: 100%;
  margin: auto 0 auto 20px;
  padding: 0;
  color: white;
  text-decoration: none;
}

.right-nav {
  float: right;
  height: 100%;
  width: 289px;
/*  margin: auto 0 auto 20px;*/
  padding: 0;
  margin-left: 20px;
}

.right-nav a, .logo a {
  color: white;
  text-decoration: none;
  display: inline-block;
  top: 34%;
  position: relative;
  margin-left: 20px;
} 
