<%= erb :_index_errors %>

<% @posts.each do |post| %>
<div class="post">
  
    <%= erb :_post_votes, locals: { post: post } %>

  <div>
    <a href="/post/<%= post.id %>"><%= post.title %></a>
  </div>
</div>
<% end %>
